#!/usr/bin/make -f
# -*- makefile -*-
# debian/rules for fis-gtm

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

VISTAINSTANCEDIR=debian/usr/share/VistA-FOIA
GTM_INSTALL_DIR=/usr/lib/fis-gtm/V5.5-000_x86_64
VISTA_GLOBALS_DIR=$(VISTAINSTANCEDIR)/g
VISTA_ROUTINES_DIR=$(VISTAINSTANCEDIR)/r
GTMPROFILE=$(GTM_INSTALL_DIR)/gtmprofile

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
-DCMAKE_INSTALL_PREFIX:PATH=/usr \
-DGTM_INSTALL_DIR=$(GTM_INSTALL_DIR) \
-DGTMPROFILE:PATH=$(GTMPROFILE) \
-DVISTA_GLOBALS_DIR:PATH=$(VISTA_GLOBALS_DIR) \
-DVISTA_ROUTINE_DIR:PATH=$(VISTA_ROUTINES_DIR)

override_dh_auto_install:
	mkdir -p $(VISTAINSTANCEDIR)
	mkdir -p $(VISTAINSTANCEDIR)/r
	mkdir -p $(VISTAINSTANCEDIR)/o
	mkdir -p $(VISTAINSTANCEDIR)/g
	mkdir -p $(VISTAINSTANCEDIR)/inet
	mkdir -p $(VISTAINSTANCEDIR)/inet/Logs
	gtm_dist=/usr/lib/fis-gtm/V5.5-000_x86_64
	gtmprofilefile=$(gtm_dist)/gtmprofile
	source $(gtmprofilefile)
	gtmgbldir=$(VISTAINSTANCEDIR)/g/database
	gtmroutines="$(VISTAINSTANCEDIR)/o($(VISTAINSTANCEDIR)/r) $(gtm_dist)/libgtmutil.so"
	echo "change -s DEFAULT -f=$(VISTAINSTANCEDIR)/g/database" | $(gtm_dist)/mumps -r GDE
	$(gtm_dist)/mupip create
	$(gtm_dist)/dse change -f -key_max=1023 -rec=4096


get-orig-source:
	wget -O../OSEHRA-VistA-M-897bff2a.orig.tar.gz https://github.com/OSEHRA/VistA-M/tarball/897bff2a
	wget -O../OSEHRA-VistA-b34e6b28.orig.tar.gz https://github.com/OSEHRA/VistA/tarball/b34e6b28

