#!/usr/bin/make -f
# -*- makefile -*-
# debian/rules for fis-gtm

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@


get-orig-source:
	wget -O../VistA-FOIA.orig.tar.gz https://github.com/OSEHRA/VistA-FOIA/tarball/master
	wget -O../OSEHRA-Automated-Testing.orig.tar.gz https://github.com/OSEHRA/OSEHRA-Automated-Testing/tarball/master
